@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/regular/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/regular/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/thin/Roboto-Thin.woff2') format('woff2'),
        url('assets/fonts/thin/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/black/Roboto-Black.woff2') format('woff2'),
        url('assets/fonts/black/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/bold/Roboto-Bold.woff2') format('woff2'),
        url('assets/fonts/bold/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/light/Roboto-Light.woff2') format('woff2'),
        url('assets/fonts/light/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/medium/Roboto-Medium.woff2') format('woff2'),
        url('assets/fonts/medium/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

