@import "../../../assets/scss/modules/config";

.movie-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #191919;
  @include for-tablet-portrait-up {
    padding: 0;
  }
  &__item {
    margin: 10px;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: rgba(251, 249, 249, 0.557) 0px 5px 15px;
    @include for-tablet-portrait-up {
      flex: 0 33%;
      margin: 5px 5px;
    }
    @include for-desktop-up {
      flex: 15%;
    }
    img {
      width: 250px;

      @include for-tablet-portrait-up {
        width: 100%;
      }
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}

.movie-details {
  padding: 5px;
  height: 70px;
  float: left;
}
.movies-title {
  color: white;
  float: left;
  font-size: 18px;
  margin-left: 15px;
}
.movies-voite {
  font-size: 16px;
  margin-left: 15px;
  color: white;
  width: 30px;
  background-color: rgb(41, 44, 73);
  border: 1px solid black;
  border-radius: 5px;
}

.pagination-controls {
  background-color: #191919;
  margin-left: 0 !important;
  margin-bottom: 1rem !important;
  line-height: 20px !important;
  padding: 7px 15px 7px !important;
  font-size: 14px !important;
  color: white;
  height: 45px;
  box-shadow: rgba(251, 249, 249, 0.557) 0px 1px 3px;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem !important;
  background: #e50914 !important;
  color: white !important;
  cursor: default !important;
  border: 2px solid #8b8b8b !important;
  padding: 0.5rem 1rem !important;
  border-radius: 9% !important;
}

.pagination-controls::before,
.pagination-controls::after {
  content: " " !important;
  display: table !important;
  color: white;
}

.pagination-controls::after {
  clear: both !important;
}

.pagination-controls li {
  margin-right: 0.2rem !important;
  border-radius: 0 !important;
}

.pagination-controls li {
  display: inline-block !important;
}

.pagination-controls a,
.pagination-controls button {
  color: black !important;
  display: block !important;
  background-color: rgb(248, 248, 248) !important;
  border: 2px solid #8b8b8b !important;
  padding: 0.5rem 1rem !important;
  border-radius: 9% !important;
}

.pagination-controls a:hover,
.pagination-controls button:hover {
  color: black !important;
}

.pagination-controls .disabled {
  padding: 0.1875rem 0.625rem !important;

  cursor: default !important;
}

.pagination-controls .disabled:hover {
  background: transparent !important;
}

.pagination-controls .pagination-previous a::before,
.pagination-controls .pagination-previous.disabled::before {
  content: "\f053" !important;
  display: inline-block !important;
  margin-right: 0rem !important;
}

.pagination-controls .pagination-next a::after,
.pagination-controls .pagination-next.disabled::after {
  content: "\f054" !important;
  display: inline-block !important;
  margin-left: 0rem !important;
}

.pagination-controls .show-for-sr {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}

.pagination-controls .small-screen {
  display: none !important;
  color: white;
}

@media screen and (max-width: 601px) {
  .pagination-controls.responsive .small-screen {
    display: inline-block !important;
    color: black !important;
    background-color: rgb(248, 248, 248) !important;
    border: 2px solid #8b8b8b !important;
    padding: 0.5rem 1rem !important;
    border-radius: 9% !important;
  }
  .pagination-controls.responsive
    li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
    display: none !important;
    color: white;
  }
}
