@import "../../../assets/scss/modules/config";

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/Pulp-Fiction-pulp-fiction-1161076_1920_809.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  .search-wrapper {
    margin-top: 30vh;

    input {
      display: block;
      margin: auto;
      height: 40px;
      max-width: 500px;
      width: 100%;
      padding: 5px 10px 5px 40px;
      border: none;
      border-radius: 25px;
      background-image: url("../../../assets/search-icon.png");
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: 10px 8px;
      outline: none;
      @include for-tablet-portrait-up {
        max-width: 350px;
      }
    }
    .suggestions {
      margin: 5px auto;
      max-width: 300px;
      border-radius: 4px;
      background: transparent;
      color: white;

      @include for-tablet-portrait-up {
        max-width: 350px;
      }
      p {
        padding: 5px 0 5px 20px;
        cursor: pointer;

        &:first-child {
          border-radius: 4px 4px 0 0;
        }

        &:last-child {
          border-radius: 0 0 4px 4px;
        }

        &:hover {
          background-color: black;
          border: 1px solid #f1f1f1;
        }
      }
    }
  }
}
